# Remove the existing content and replace with:
# Ignore all files
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore itself
!.gitignore
# Don't ignore Python and MATLAB files
!*.py
!*.m
